<!-- about -->
<div id="about" class="about">
    <div class="col-md-6 about-left">
      
            <div class="item">
                <div class="about-left-grid">
                    <h2>Hi! I'm <span>Sofie Lund Mogensen</span></h2>
                    <p>Jeg er en kvinde på 23 år, som på nuværende tidspunkt er på mit 4 semester på datamatiker uddannelsen på ucn Aalborg. Derudover er jeg uddannet webintergrator og interesser mig for at lave webapplikation men også Mobil udvikling, som jeg har valgt som mit specialliering her på 4 semester. <ul>
                        <li><a class="a-btn-a scroll" href="#port">My Work</a></li>
                        <li><a class="a-btn-h scroll" href="#contact">Contact Me</a></li>
                    </ul>
                </div>
            </div>
   

    </div>
    <div class="col-md-6 about-right">

    </div>
    <div class="clearfix"> </div>
   </div>
<!-- /about -->
