<div class="portfolio" id="port">
    <div class="service-head text-center">
        <h4>MY WORKS</h4>
        <h3>MY <span>PORTFOLIO</span></h3>
        <span class="border"></span>
    </div>
    <div id="content">
        <div class="container">

            <section>
                <div class="row portfolio">

                    <div class="col-sm-4">
                        <div class="box-image">
                            <div class="image">
                                <img src="~/images/pic11.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3>Contronic</h3>
                            </div>
                            <div class="text">
                                <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                             
                                  <a class="Button-green" href="#">View</a>
                                    <a class="Button-green target="_blank" href="http://www.Contronic.dk">Website</a>
                             
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>



                    <div class="col-sm-4">
                        <div class="box-image">
                            <div class="image">
                                <img src="~/images/pic11.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3>Job Me - School Project</h3>
                            </div>
                            <div class="text">
                                <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>

                                <a class="Button-green" href="#">View</a>
                                <a class="Button-green" href="http://www.Github.com">Github</a>

                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>



                    <div class="col-sm-4">
                        <div class="box-image">
                            <div class="image">
                                <img src="~/images/pic11.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3>  - Web integrator exam</h3>
                            </div>
                            <div class="text">
                                <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>

                                <a class="Button-green" href="#">View</a>
                                <a class="Button-green" href="#">Website</a>

                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    
     

                </div>
            </section>
                    </div>
        <!-- /.container -->

    </div>
</div>