
	<!--work-experience-->
<div id="work" class="work">
    <div class="container">
        <div class="service-head text-center">
            <h4>Education</h4>
            <h3>MY <span>EXPERIENCE</span></h3>
            <span class="border one"></span>
        </div>
        <div class="time-main w3l-agile">
            <div class="col-md-6 year-info">
                <ul class="year">
                    <li>2016-2019</li>
                    <li>2015-2016</li>
                    <li>2011-2014</li>
                    <li>2010-2011</li>
                    <li>2009-2010</li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <ul class="col-md-6 timeline">
                <li>
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Datamatikker</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Webintegrator</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                        </div>
                    </div>
                </li>



                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Gymnasiet HTX Skjern</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Interstudies High School Programs at The Sydenham & Forest Hill 6th Form - London</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge pass"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">9. klasse Venø Efterskole</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="service-head text-center">
                <h4>Work</h4>
                <h3>MY work <span>EXPERIENCE</span></h3>
                <span class="border one"></span>
            </div>
            <div class="time-main w3l-agile">
                <div class="col-md-6 year-info">
                    <ul class="year">
                        <li>2017</li>
                        <li>2011 - 2014</li>
                        <li>2006 - nu</li>
                 
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <ul class="col-md-6 timeline">
                    <li>
                        <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Sommerferie afløser hos hjemmeplejen Aalborg</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Afløser hos hjemmeplejen Skjern</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Diverse barnepige jobs.</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                            </div>
                        </div>
                    </li>
@*
        <li>
            <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">COMPANY NAME</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge pass"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">COMPANY NAME</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
                </div>
            </div>
        </li>
    </ul>

*@
                <div class="clearfix"></div>
            </div>
    </div>
</div>
<!--//work-experience-->